/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* #Basic Styles
================================================== */
	body {
		background: #182945;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		line-height:22px;
		color:#FFF;
		overflow-x:hidden;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
		-webkit-text-size-adjust: 100%;
 }
 html {
		overflow-x:hidden; 
	height:100%;
}
/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
		font-family: 'Roboto', sans-serif;
		text-align:center;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 38px; line-height:38px;text-transform:uppercase;font-weight: 400; }
	h2 { font-size: 36px; line-height:36px;text-transform:uppercase;font-weight: 400;}
	h3 { font-size: 32px; line-height: 32px;text-transform:uppercase;font-weight: 400;}
	h4 { font-size: 28px; line-height: 28px;text-transform:uppercase;font-weight: 400;}
	h5 { font-size: 24px; line-height: 24px;text-transform:uppercase;font-weight: 800;}
	h6 { font-size: 20px; line-height: 20px;text-transform:uppercase;font-weight: 800;}


	p {  }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: 600;}
	small { font-size: 80%; }
	


/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #323a3d; border-width: 1px 0 0; clear: both; margin:0 10px 0 10px; height: 0; position:relative;}


/* #Links
================================================== */
	a, a:visited { text-decoration: none; }
	a:hover, a:focus { color: #e74c3c;}
	p a, p a:visited { line-height: inherit; text-decoration: none;}
	a:focus{
	outline:none;
	}

/* #Lists
================================================== */
	ul, ol { }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li {  }
	li { line-height: 18px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
	background:#363636;	
	margin-top:10px;
	border:none;
	  color: #dfdfdf;
	  display: inline-block;
	  font-size: 16px;
	  cursor: pointer;
	  line-height: normal;
	  padding: 15px 25px;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out; 
	width:100%}

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {	
	  color: #e74c3c;
	background:#292929;	 }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {	
	  color: #e74c3c;}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}
/* #Images
================================================== */






/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
::selection {
	background: rgba(0,0,0,.2); /* Safari */
	}
::-moz-selection {
	background: rgba(0,0,0,.2); /* Firefox */
}

/* COLORES */
.big-text span{ 
	border-left:3px solid #009DF6;
	border-right:3px solid #009DF6;
}
ul.slimmenu li a:hover {
    border-bottom:1px solid #009DF6;
}
ul.slimmenu li ul li a:hover {
    border-bottom:1px solid #009DF6;
}
.list-social li.icon-soc a {
	color: #009DF6;
}
.line-drawing path {
	stroke: #009DF6;
}
h1 span:before  {
	color: #009DF6;
}
h1 span:after  {
	color: #009DF6;
}
.team-social li.icon-team a {
	color:#009DF6;
}
.facts-wrap-num{
	color:#009DF6;
} 
.portfolio-box h4{ 
	color:#009DF6;
}
#action p {
	color:#009DF6;
}
.pace .pace-progress {
  background: #009DF6;
}
.pace .pace-progress-inner {
  box-shadow: 0 0 10px #009DF6, 0 0 5px #009DF6;
}
.pace .pace-activity {
  border-top-color: #009DF6;
  border-left-color: #009DF6;
}
.icon-left1{
	color:#009DF6;
}
.icon-right1{
	color:#009DF6;
}
.services-offer form{
	display: flex;
	align-items: center;
	justify-content: center;
}
.services-offer form .buy_ticket{
	margin: 0;
	margin-top: 2em;
	background-color: #009DF6;
	font-weight:bold;
}
.services-offer form .buy_ticket:hover{
	color: #FFF;
	background-color: #00659e;
}
.services-offer .services-icon{
	color:#FFF;
}
.services-offer .services-link:hover{
	background:#009DF6;
}
.featured{
	border-top:3px solid #009DF6;
}
.services-offer:hover{
	border-top:3px solid #009DF6;
}
.icon-contact1{
	color:#009DF6;
} 
.icon-footer{
	color:#009DF6;
} 
.icon-test  {
	color:#009DF6;
}
.bx-wrapper .bx-controls-direction a {
	background-color:#009DF6;
}
#footer .back-top{
	color:#009DF6;
}
/* HOVER SPEAKERS */
.speakers{
	margin-top: 5em !important;
	margin-bottom: 3em !important;
}
.snip1563 {
	background-color: #fff;
	color: #ffffff;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	max-width: 315px;
	min-width: 230px;
	overflow: hidden;
	position: relative;
	text-align: right;
	width: 100%;
	height: 300px;
  }
  
  .snip1563 *,
  .snip1563 *:before,
  .snip1563 *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.45s ease;
	transition: all 0.45s ease;
  }
  
  .snip1563 img {
	backface-visibility: hidden;
	max-width: 100%;
	vertical-align: top;
  }
  
  .snip1563:before,
  .snip1563:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	background-color: #009DF6;
	opacity: 0.5;
	-webkit-transition: all 0.45s ease;
	transition: all 0.45s ease;
  }
  
  .snip1563:before {
	-webkit-transform: skew(30deg) translateX(80%);
	transform: skew(30deg) translateX(80%);
  }
  
  .snip1563:after {
	-webkit-transform: skew(-30deg) translateX(70%);
	transform: skew(-30deg) translateX(70%);
  }
  
  .snip1563 figcaption {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	bottom: 0;
	padding: 20px 20px 20px 40%;
  }
  
  .snip1563 figcaption:before,
  .snip1563 figcaption:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #009DF6;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	content: '';
	opacity: 0.5;
	z-index: -1;
  }
  
  .snip1563 figcaption:before {
	-webkit-transform: skew(30deg) translateX(100%);
	transform: skew(30deg) translateX(100%);
  }
  
  .snip1563 figcaption:after {
	-webkit-transform: skew(-30deg) translateX(90%);
	transform: skew(-30deg) translateX(90%);
  }
  
  .snip1563 h3,
  .snip1563 p {
	margin: 0;
	opacity: 0;
	letter-spacing: 1px;
  }
  
  .snip1563 h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
	text-align: right;
  }
  
  .snip1563 p {
	font-size: 0.9em;
  }
  
  .snip1563 a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
  }
  
  .snip1563:hover h3,
  .snip1563.hover h3,
  .snip1563:hover p,
  .snip1563.hover p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 0.9;
  }
  
  .snip1563:hover:before,
  .snip1563.hover:before {
	-webkit-transform: skew(30deg) translateX(30%);
	transform: skew(30deg) translateX(30%);
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
  }
  
  .snip1563:hover:after,
  .snip1563.hover:after {
	-webkit-transform: skew(-30deg) translateX(20%);
	transform: skew(-30deg) translateX(20%);
  }
  
  .snip1563:hover figcaption:before,
  .snip1563.hover figcaption:before {
	-webkit-transform: skew(30deg) translateX(50%);
	transform: skew(30deg) translateX(50%);
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
  }
  
  .snip1563:hover figcaption:after,
  .snip1563.hover figcaption:after {
	-webkit-transform: skew(-30deg) translateX(40%);
	transform: skew(-30deg) translateX(40%);
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	}
	/* COMING LOGOS */
	.snip1585 {
		background-color: #182945;
		color: #fff;
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 100%;
	}
	
	.snip1585 * {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.45s ease;
		transition: all 0.45s ease;
	}
	
	.snip1585:before,
	.snip1585:after {
		background-color: rgb(24, 41, 69, 0.5);
		border-top: 50px solid rgb(24, 41, 69, 0.5);
		border-bottom: 50px solid rgb(24, 41, 69, 0.5);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		z-index: 1;
		opacity: 0;
	}
	
	.snip1585:before {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
	
	.snip1585:after {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
	
	.snip1585 img {
		vertical-align: top;
		max-width: 100%;
		backface-visibility: hidden;
	}
	
	.snip1585 figcaption {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		align-items: center;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		line-height: 1.1em;
		opacity: 0;
		z-index: 2;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	
	.snip1585 h3 {
		font-size: 0.8rem;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 20px;
		margin: 0;
		text-transform: uppercase;
	}
	
	.snip1585 h3 span {
		display: block;
		font-weight: 700;
	}
	
	.snip1585 a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
	}
	
	.snip1585:hover > img,
	.snip1585.hover > img {
		opacity: 0.7;
	}
	
	.snip1585:hover:before,
	.snip1585.hover:before,
	.snip1585:hover:after,
	.snip1585.hover:after {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	
	.snip1585:hover figcaption,
	.snip1585.hover figcaption {
		opacity: 1;
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}
	/* REGISTER BUTTON */
	#pricing .container .register{
		width: 50%;
		display: block;
		text-align: center;
		padding: 1em;
		color: #FFF;
		background-color: #009df5;
	}
	#pricing .container .register:hover{
		transition: 0.2s all linear;
		background-color: #0562CE !important;
		text-decoration: none;
	}
	#pricing .sixteen.columns p{
		font-size: 16px;
		margin-bottom: 2em;
	}
	#pricing .sixteen.columns a{
		color: #009df5;
	}