/* Hero */

.con-hero {
    display: flex;
    min-height: 600px;
}
.con-hero__img {
    flex-basis: 45%;
    background-image: url('../images/main-slider/52899453070_fce9fa238d_k.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.con-hero__img::after {
    content: '';
    display: block;
    border-bottom: 100px solid #0c2340;
	border-left: 100px solid transparent;
	height: 0;
	width: 100px;
    position: absolute;
    bottom: 0;
    right: -1px;
}

.con-hero__wrapper {
    flex-basis: 60%;
    position: relative;
    background: #0c2340;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.con-hero__wrapper::before, .con-hero__wrapper::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;      
    opacity: 0.1;
}
.con-hero__wrapper::before {
    top: 0;
    border-width: 0 550px 550px 0;
    border-color: transparent #fff transparent transparent;
}
.con-hero__wrapper::after {
    bottom: 0;
    border-width: 0 0 500px 500px;
    border-color: transparent transparent #fff transparent;
}
.con-hero__claim-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    z-index: 1;
    background-color: #0b59de;
}
.con-hero__claim-wrapper::after {
    content: '';
    display: block;
    width: 200px;
    height: 100%;
    position: absolute;
    left: -40px;
    transform: skew(325deg);
    background-color: #0b59de;
}
.con-hero__claim {
    color: white;
    padding: 15px 30px;
    font-size: 35px;
    font-weight: normal;
    z-index: 1;
}

.con-hero__title {
    width: 100%;
    max-width: 610px;
    display: block;
    margin: 0 0 30px 30px;
    padding: 0 30px;

}
.con-hero__title h2 {
    font-size: 60px;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: 500;
    font-family: "Inter" !important;
}
.con-hero__features {
    width: 75%;
    margin: 0 0 0 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 45px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    z-index: 2;
}

.con-hero__feature, .con-hero__feature a {
    display: flex;
    font-size: 16px;
    color: white;
    gap: 10px;
}
.con-hero__feature i {
    color: #ffae00;
    font-size: 26px;
}
@media only screen and (max-width: 1023px) {
    .con-hero__features {
        gap: 20px;
    }
    .con-hero__feature {
        flex-basis: 100%;
    }
    .con-hero__feature i {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .con-hero__claim {
        font-size: 24px;
    }
    .con-hero__title {
        width: 90%;
    }
    .con-hero__features {
        width: 80%;
    }
    .con-hero__title h2 {
        font-size: 40px;
    }
}
/* con-hero mobile */

.con-hero--mobile {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
}

.con-hero--mobile .con-hero__img {
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.con-hero--mobile .con-hero__img::after {
    display: none;
}
.con-hero--mobile .con-hero__wrapper {
    position: relative;
    height: 50%;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    padding: 50px 0 0;
}
.con-hero--mobile .con-hero__claim-wrapper {
    width: 78%;
    position: absolute;
    right: 0;
    top: -40px;
    justify-content: end;
}

.con-hero--mobile .con-hero__claim {
    font-size: 24px;
    font-weight: normal;
    padding: 8px 15px 8px 5px;
    text-align: right;
}

.con-hero--mobile .con-hero__title {
    width: 100%;
    min-width: unset;
    margin: 0;
    padding: 0 20px;
}
.con-hero--mobile .con-hero__title h2 {
    font-size: 30px;
}

.con-hero--mobile .con-hero__features {
    width: 80%;
    min-width: unset;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    z-index: 2;
}
.con-hero--mobile .con-hero__feature {
    justify-content: center;
}

/* afterx hero */
.afterx-hero {
    display: flex;
    height: 600px;
    background-image: url('../images/main-slider/52899079921_c647ce87bf_k.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.afterx-hero::after{
    content: '';
    position: absolute;
    background-color: rgba(11, 89, 222, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.afterx-hero .auto-container {
    display: flex;
    align-items: center;
}

.afterx-hero__wrapper {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.afterx-hero__claim-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    z-index: 1;
}
.afterx-hero__claim {
    padding: 15px 0;
    font-size: 60px;
    font-weight: 500;
    z-index: 1;
    font-family: "Inter" !important;
}

.afterx-hero__title {
    display: block;
}
.afterx-hero__title h2 {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 500;
    color: #282828;
    z-index: 1;
}
.afterx-hero__features {
    width: 100%;
    border-top: 1px solid rgba(11, 89, 222, 0.3);
    padding: 45px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 40px;
    z-index: 2;
}
.afterx-hero__feature, .afterx-hero__feature a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #282828;
    font-weight: 500;
    gap: 10px;
}
.afterx-hero__feature i {
    color: #0b59de;
    font-size: 40px;
}
@media only screen and (max-width: 1023px) {
    .afterx-hero__wrapper {
        width: 55%;
        padding: 0 0 0 20px;
    }
    .afterx-hero__features {
        gap: 10px;
        padding: 20px 0 0;
    }
    .afterx-hero__feature {
        flex-basis: 100%;
    }
    .afterx-hero__feature i {
        font-size: 30px;
    }
}

/* con-hero mobile */

.afterx-hero--mobile {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
}

.afterx-hero--mobile .afterx-hero__img {
    height: 100%;
    width: 100%;
    background-image: url('../images/background/afterx_hero_banner2.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    position: relative;
}

.afterx-hero--mobile .afterx-hero__img::after {
    display: none;
}
.afterx-hero--mobile .afterx-hero__wrapper {
    position: absolute;
    top: 10%;
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
}

.afterx-hero--mobile .afterx-hero__claim {
    font-size: 50px;
    font-weight: normal;
    padding: 5px;
}

.afterx-hero--mobile .afterx-hero__title {
    width: 100%;
    min-width: unset;
    margin: 0;
    padding: 10px;
}
.afterx-hero--mobile .afterx-hero__title h2 {
    font-size: 20px;
}

.afterx-hero--mobile .afterx-hero__features {
    width: 100%;
    min-width: unset;
    margin: 0;
    margin: 20px 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    z-index: 2;
}
.afterx-hero--mobile .afterx-hero__feature {
    justify-content: center;
}
/* end of Hero */


/* title flag */

.countdown-logo {
    display: flex;
    justify-content: center;
}
.countdown-logo__wrapper {
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 170px;
    padding: 40px;
    z-index: 1;
}
.countdown-logo__wrapper img {
    height: auto;
    width: 230px;
}

.title-flag-vertical {
    transform: rotate(-90deg); 
    position: absolute;
    left: -90px;
    bottom: 65px;
}

.title-flag-vertical__wrapper {
    transform: skew(335deg);
    background-color: #0b59de;
    padding: 5px 0;  
}
.title-flag-vertical__text {
    white-space: nowrap;
    color: white;
    transform: skew(25deg);
    font-size: 14px;
    padding: 0 15px;
}
/* end of title flag */

/* schedule */
.con-schedule {
    display: flex;
    border: 1px solid #ebebeb;
    justify-content: space-between;
    height: 114px;
    min-height: 114px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.con-schedule.is-break {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 114px;
}
.con-schedule.is-break .con-schedule__wrapper::after {
    display: none;   
}
.con-schedule.is-break .con-schedule__info {
    flex-direction: column;
    align-items: start;
    gap: 0;   
}
.con-schedule.is-coffee {
    background-image: url('./../images/background/coffee_bg.svg');
}
.con-schedule.is-lunch {
    background-image: url('./../images/background/lunch_bg.svg');
}
.con-schedule.is-finger {
    background-image: url('./../images/background/finger_bg.svg');
}
.con-schedule.is-predinner {
    background-image: url('./../images/background/predinner_bg.svg');
}
.con-schedule__wrapper {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 1;
    position: relative;
}
.con-schedule__wrapper::after {
    content: '';
    width: 300px;
    background: white;
    transform: skew(320deg);
    position: absolute;
    right: -70px;
    top: 0;
    height: 100%;
    
}
.con-schedule__date {
    flex-basis: 30%;
    font-size: 16px;
    color: #0b59de;
    font-weight: 700;
    z-index: 1;
}
.con-schedule__info {
    flex-basis: 70%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    z-index: 1;
}
.con-schedule__info h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.con-schedule__img {
    position: absolute;
    right: 0;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.con-schedule__img img {
    height: 140%;
    width: auto;
    max-width: unset;
}

.con-schedule__list {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}
@media only screen and (max-width: 1023px) {
    .con-schedule__wrapper {
        flex-flow: column;
        align-items: start;
    }
    .con-schedule__date, .con-schedule__info {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .con-schedule {
        margin-bottom: 20px;
        height: auto;
        max-height: 156px;
    }
    .con-schedule__wrapper {
        padding: 10px;
    }
    .con-schedule__wrapper::after {
        right: -10px;
    }
    .con-schedule__date {
        font-size: 12px;
    }
    .con-schedule__info{
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }
    .con-schedule__info h4 {
        font-size: 14px;
    }
    .con-schedule__img {
        width: 180px;
    }
}
/* end of schedule */

/* sponsors */
.sponsors-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}
.sponsors-wrapper .sponsor-lg {
   flex-basis: 23.5%;
   min-height: 160px;
}
.sponsors-wrapper .sponsor-md {
    flex-basis: 18.8%;
    min-height: 138px;
}
.sponsors-wrapper .sponsor-sm {
    flex-basis: 15%;
    min-height: 126px;
}

@media only screen and (max-width: 1200px) {
    .sponsors-wrapper .sponsor-lg {
        flex-basis: 31.3%;
     }
     .sponsors-wrapper .sponsor-md {
         flex-basis: 23.5%;
     }
     .sponsors-wrapper .sponsor-sm {
         flex-basis: 18.8%;
     }
}
@media only screen and (max-width: 768px) {
    .sponsors-wrapper .sponsor-lg {
        flex-basis: 80%;
     }
     .sponsors-wrapper .sponsor-md {
         flex-basis: 47%;
     }
     .sponsors-wrapper .sponsor-sm {
         flex-basis: 31.3%;
     }
}

/* end of sponsors */

