/* :: 19.0 Sponsor Area CSS */

.our-sponsor-client-area {
    position: relative;
    z-index: 1;
    background-color: $bg-blue;
}

.our-sponsor-area {
    position: relative;
    z-index: 1;
    width: 100%;

    .single-sponsor {
        border: 1px solid $border-3;
        @include flex(0 0 25%);
        max-width: 25%;
        width: 25%;
        height: 240px;
        @include display-flex(flex);
        @include align-items-center;
        @include justify-content-center;
        margin-left: -1px;
        margin-top: -1px;
        padding: 1em;

        @media #{$breakpoint-lg} {
            height: 200px;
        }

        @media #{$breakpoint-md} {
            height: 150px;
        }

        @media #{$breakpoint-xs} {
            height: 130px;
            flex: 0 0 50%;
            width: 50%;
            max-width: 50%;
        }

        a {
            img {
                @include transition-duration(300ms);
                max-height: 110px;
                opacity: 0.5;

                @media #{$breakpoint-lg} {
                    max-height: 90px;
                }

                @media #{$breakpoint-md} {
                    max-height: 90px;
                }

                @media #{$breakpoint-xs} {
                    max-height: 80px;
                }

                filter: contrast(0);
            }
        }

        &:hover,
        &:focus {
            a {
                img {
                    opacity: 1;
                }
            }
        }
    }
}

.bronze {
    .our-sponsor-area {
        .single-sponsor {
            max-width: 16%;
            height: 140px;

            @media #{$breakpoint-md} {
                height: 100px;
            }

            @media #{$breakpoint-xs} {
                max-height: 130px;
                max-width: 50%;
                flex: 0 0 50%;

                img {
                    max-height: 80px;
                }
            }
        }
    }
}